certifi==2022.12.7
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
defusedxml==0.5.0
Django==1.11
django-cors-headers==2.2.0
django-crispy-forms==1.7.2
django-filter==1.1.0
django-formtools==2.1
django-redis==4.9.0
djangorestframework==3.7.7
djangorestframework-jwt==1.11.0
drf-extensions==0.3.1
future==0.16.0
idna==2.6
itypes==1.1.0
Jinja2==2.10
Markdown==2.6.11
MarkupSafe==1.0
oauthlib==2.0.7
Pillow==5.0.0
pluggy==0.6.0
py==1.5.3
pycryptodome==3.5.1
PyJWT==1.6.1
PyMySQL==0.8.0
python3-openid==3.1.0
pytz==2018.3
raven==6.6.0
redis==2.10.6
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
social-auth-app-django==2.1.0
social-auth-core==1.7.0
tox==3.0.0
uritemplate==3.0.0
urllib3==1.22
virtualenv==15.2.0
